<h1>マイページ</h1>
<div class="name">
<h1><%= @user.name %></h1></div>

<h1><%= @user.email %></h1>
<h1><%= @user.profile %></h1>
<% if current_user.id == @user.id %>
<%= link_to "編集する", edit_user_registration_path %>
<% end %>

<%= image_tag @user.image_url, size: "250x200", class:"post" if @user.image? %>

<%= link_to "Post一覧に戻る", posts_path %>


<div class="user-in">
<h2><%= @user.email %></h2>

<% if @user.id == current_user.id %>
    <%= @msg %>
<% else %>
    <% if @isRoom == true %>
        <p><%= link_to 'DMへ', room_path(@roomId) %></p>
    <% else %>
        <%= form_for @room do |f| %>
            <%= fields_for @entry do |e|%>
                <% e.hidden_field :user_id, value: @user.id %>
            <% end %>
        <%= f.submit "DMを開始する"%>
        <% end %>
    <% end %>
<% end %>
</div>


<%= link_to "ユーザー一覧へ", users_path %>



<style>
.user-in{
    width:300px;
    padding:10px;
    margin:10px;
    text-align:center;
    border:1px solid darkgray;
    background-color:gainsboro;
}
</style>